<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ahorcado</title>
	<script type="text/javascript" src="../static/ahorcado.js"></script>
</head>
	<body>
	<h1>AHORCADO</h1>

	<h2>Adivina Letra a Letra</h2>
	<canvas id="c" width="500" height="400"></canvas>
	<p>
		Elige una letra
		<input type="text" id="letra">
		<input type="button" id="boton" value="Boom!!">
	</p>	
	<h3 id="pista">_ _ _ _ _ _ _ _ _</h3>

	<script type="text/javascript">
		iniciar();
	</script>
</body>
</html>